<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Web - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://kit.fontawesome.com/c2c44e7070.js" crossorigin="anonymous"></script>
</head>
<body class="bg-body ">
    <nav class="navbar navbar-expand-lg bg-grey px-5 nv sticky-top">
        <div class="container-fluid px-0"><a  href="/">
          <img class="me-5 ms-3 " src="/public/assets/logo.png" alt="logo"></a>
          <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-nav-col text-end  mt-1" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-dark me-4 fw-bold " aria-current="page" href="/">Home</a>
              </li>
              {{#if isLogin}}
              <li class="nav-item">
                <a class="nav-link text-dark fw-bold me-4" href="/addproject">Add Project</a>
              </li>
              {{/if}}
            </ul>
            <form class="d-flex justify-content-end mb-2" role="search">
                <a href="/contact" class="btn justify-content-end btn-outline-success bg-dark text-white  px-3 rounded-3 me-3"> Contact Me</a>
            </form>
          </div>
        </div>
    </nav>

    <div class="home-upper md-8 ">
        <div class="card md-5 big-card p-lg-5 position-static">
            <div class="row g-1">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title h5">Hi Welcome To My Website</h5>
                        <p class="card-text cp">Saya adalah orang yang berminat tinggi di biadang web development,saat ini saya sedang mengikuti kegiatan bootcamp di <em>Dumbways</em>, kedepannya saya harap bisa menguasai web programing..</p>
                    </div>

                    <div class="contact">
                        <a href="/contact"><button type="submit" > Contact
                            </button></a>
                        <a href="#" class="cv">Download CV &ensp;<i class="fa-solid fa-download"></i> </a>
                        </div>

                        <div class="sosmed">
                            <a href="https://id.linkedin.com/" class="fa-stack fa-2x">
                             <i class="fa-solid fa-circle fa-stack-2x"></i>
                             <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </a>
            
                        <a href="https://www.instagram.com/?hl=id" class="fa-stack fa-2x">
                            <i class="fa-solid fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </a>
            
                        <a href="https://id-id.facebook.com/" class="fa-stack fa-2x">
                             <i class="fa-solid fa-circle fa-stack-2x"></i>
                             <i class="fa fa-facebook  fa-stack-1x fa-inverse"></i>
                            </a>
            
                        <a href="https://twitter.com/login"class="fa-stack fa-2x">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </a>
                        </div>
                </div>
                <div class="col-md-4 mt-5 ">
                    <div class="card-img bg-krem">
                  <img src="/public/assets/kholish.png" class="rounded-top card-imgg" alt="...">
                  <h4>Kholish Nurfajri</h4>
                  <p>Fullstack Develover</p>
                </div>
                </div>
            </div>
          </div>    
    </div>

    <div class="home-down">
        <h1>MY PROJECT</h1>
        <div class="grid">


            {{#each project}}
            <div class="card p-2 card-jus" style="width: 20rem; display: grid;">
                <a  type="submit" class="text-decoration-none text-dark"></a> <img src="/public/assets/download.jpg" class="card-img-top img-card" alt="..."></a>
                <div class="card-body">
                    <a href="/project/{{this.id}}"  class="text-decoration-none text-dark">
                    <h5 class="card-title">{{title}}</h5>
                    </a>
                    <p class="card-duration">{{this.duration}}</p>
                    <p class="card-text">{{this.content}}</p>
                    <div class="card-tech">
                    {{#if this.technologies.[0]}}
                          <i class="fa-brands fa-html5"></i>
                    {{/if}}

                    {{#if this.technologies.[1]}}
                          <i class="fa-brands fa-css3-alt"></i>
                    {{/if}}

                    {{#if this.technologies.[2]}}
                          <i class="fa-brands fa-js"></i>
                    {{/if}}

                    {{#if this.technologies.[3]}}
                          <i class="fa-brands fa-java"></i>
                    {{/if}}


                    {{#if this.isLogin}}
                    <div class="card-button">
                    <a href="/update-project/{{this.id}}" class="btn btn-dark px-5 py-1 me-3">Edit</a>
                    <a href="/delete-project/{{this.id}}" type="submit" class="btn btn-dark px-5 py-1">Delete</a>
                    </div>
                    {{/if}}
                    </div>
                    </div>
            </div>
            {{/each}}
</div>
</div>
</body>
</html>